/* src/auth.css */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  width: 150px; /* Adjusted for the navbar */
  height: auto;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px); /* Adjust for the navbar height */
  background-color: #f4f4f4;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.auth-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px; /* Original size */
  height: auto;
}

.auth-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.auth-form div {
  margin-bottom: 15px;
}

.auth-form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.auth-form input,
.auth-form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #0E6CB0, #57AE54);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background: linear-gradient(90deg, #57AE54, #0E6CB0);
}

.auth-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.auth-tabs button {
  flex: 1;
  padding: 10px;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  color: #333;
}

.auth-tabs button.active {
  background: linear-gradient(90deg, #0E6CB0, #57AE54);
  color: white;
}

.auth-tabs button:not(.active) {
  background: #ddd;
  color: #333;
}

.auth-tabs button:not(:last-child) {
  margin-right: 10px;
}

.logout-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #ff4b2b, #ff416c);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.logout-button:hover {
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .auth-logo {
    width: 120px; /* Smaller logo for small screens */
  }

  .auth-form {
    width: 100%;
    max-width: 100%;
  }

  .auth-tabs {
    flex-direction: column;
  }

  .auth-tabs button {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .auth-form {
    padding: 15px;
  }

  .auth-form h2 {
    font-size: 20px;
  }

  .auth-form input,
  .auth-form select {
    padding: 8px;
    font-size: 14px;
  }

  .auth-form button {
    padding: 8px;
    font-size: 14px;
  }

  .auth-tabs button {
    padding: 8px;
    font-size: 14px;
  }
}